[submodule "third-party/entityx"]
	path = third-party/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "third-party/rabbitmq"]
	path = third-party/rabbitmq
	url = https://github.com/alanxz/rabbitmq-c.git
